<table class="menu">
    <tr class="navegador">
        <th class="logo">
            <header class="cabecalho">
                <a href="/">
                    <h1>Hollywood</h1>
                </a>
            </header>
        </th>

        <th class="vazio">

        </th>
    </tr>
</table>

<nav>
    <fieldset name="login">

        <form action="/login" method="POST" name="login">

            <div class="changepwd">
                <h1>{{message}}</h1>
                <p></p>
                <h3>Para: {{email}}</h3>
            </div>
            <br>
            <p>
                <label for="btnLogin">
                    <a href="/">
                        <input type="button" id="btnLogin" name="Enviar" value="Página inicial">
                    </a>
                </label>
            </p>


        </form>
    </fieldset>
</nav>
</table>