<table class="menu">
    <tr class="navegador">
        <th class="logo">
            <header class="cabecalho">
                <a href="/">
                    <h1>Hollywood</h1>
                </a>
            </header>
        </th>
        <th class="menu">
            <nav class="menu">
                <ul class="menuLista">
                    <li>
                        <a href="/">
                            <input type="button" class="btnMenu" value="Filmes">
                            </input>
                            </a>
                    </li>
                    <li id="login">
                        <a id="loginU" class="btnMenu" href="/login">
                                Iniciar Sessão
                        </a>
                    </li>
                    <li id="pesquisa">
                        <a id="pesquisaA" onclick="hide()">
                            <img id="lupa" src="img/lupa.png" alt="lupa" srcset="img/lupa.svg" height="35">
                        </a>
                    </li>
                    <li id="liBarraPesquisa">
                        <input id="barraPesquisa" type="text" placeholder="nome de filme" />
                    </li>
                </ul>
            </nav>
        </th>
    </tr>
</table>

<table class="filmes">
    <nav class="filmes">
        <tr>
            <th>
                <a href="/1">
                <img id="0" src="img/filmes/1.jpg" alt="Schindlers"
                title="Schindlers">
                </a>

                <a href="/2">
                <img id="1" src="img/filmes/2.jpg" alt="Far And Away"
                    title="Far And Away">
                </a>

                    <a href="/3">
                <img id="2" src="img/filmes/3.jpg"
                    alt="In The Heart Of The Sea" title="In The Heart Of The Sea">
                </a>

                    <a href="/4">
                <img id="3" src="img/filmes/4.jpg" alt="The Hateful Eight"
                    title="The Hateful Eight">
                </a>

                    <a href="/5">
                <img id="4" src="img/filmes/5.jpg" alt="Django Unchained"
                    title="Django Unchained">
                </a>

                    <a href="/6">
                <img id="5" src="img/filmes/6.jpg" alt="Sin City" title="Sin City">
                </a>
                <a href="/7">
                <img id="6" src="img/filmes/7.jpg" alt="Bram Stokers Dracula"
                    title="Bram Stokers Dracula">
                </a>

                    <a href="/8">
                <img id="7" src="img/filmes/8.jpg" alt="Apocalypse Now"
                    title="Apocalypse Now">
                </a>

                <a href="/9">
                <img id="8" src="img/filmes/9.jpg"
                    alt="Terminator 2: Judgement Day" title="Terminator 2: Judgement Day">
                </a>

                <a href="/10">
                <img id="9" src="img/filmes/10.jpg" alt="Titanic" title="Titanic">
                </a>
            </th>
        </tr>
    </nav>
</table>

<div class="rodape">
    <section class="rodapeSection">
        <footer class="rodapeIndex">
            <p>&#169; &#160; Trabalho elaborado por:</P>
            <p>&#9655; &#160; António Cachetas - Nº 30002421 &#160; &#9673; &#160;
                Bruno Firmino - Nº 30002416 &#160; &#9673; &#160;
                Caio Diego - N° 30003064 &#160; &#9665;</p>
        </footer>
    </section>
</div>